@import url("./vendor/normalize.css");
@import url("./vendor/fonts/Playfair_Display_SC/PlayfairDisplaySC.css");
@import url("./vendor/fonts/Roboto/Roboto.css");
@import url("./vendor/fonts/Roboto_Slab/roboto_slab.css");

* {
    box-sizing: border-box;
}

.body {

    background-color: #F4ECD6;
}

.root {
    max-width: 1440px;
    min-width: 320px;
    max-height: 900px;

}

.hero {
    display: flex;
    flex-direction: column;
}

.content {
    width: 551px;
    margin: 112px 0 0 128px;
    z-index: 1;
}

.content__title {
    margin: 0 0 72px 0;
    font-weight: 700;
    font-family: "PlayfairDisplaySC", "Georgia", serif;
    font-size: 58px;
    line-height: 77px;
    color: #262A4F;
}


.content__paragraph {
    font-size: 20px;
    line-height: 140%;
    margin: 0 0 24px 0;
    font-weight: 400;
    font-family: "RobotoSlab", "Georgia", serif;
}

.content__paragraph:last-of-type {
    margin-bottom: 200px;
}

.form-send {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 584px;
  height: 453px;
  padding: 0;
  margin: 0;
  background-color: #F8F8F5;
  position: absolute;
  top: 174px;
  left: 128px;
  z-index: 3;
  border: 2px solid #262A4F;
  border-radius: 4px;
}

.content__title-send  {
font-family: "PlayfairDisplaySC";
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 110%;
margin: 56px 58px 40px 56px;
color: #262A4F;
}

.content__paragraph-send {
  font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 120%;
margin: 0 110px 76px 56px;
color: #5C5B5B;
}





.content__button {
    width: 319px;
    height: 80px;
    background: #262A4F;
    border-radius: 4px;
    color: #FFF;
    border-radius: 4px;
    z-index: 1;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 400;
    font-family: "RobotoSlab", "Georgia", serif;
}

.content__button_send {
  width: 178px;
  height: 53px;
  margin: 0 203px 64px 203px;
  font-family: "RobotoSlab", "Georgia", serif;
  font-size: 16px;
  line-height: 21px;
}

.main-image {
    width: 1078px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.side-block {
    display: block;
    width: 0;
    height: 900px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #262A4F;
    transition: 0.5s;
}

.side-block_visible {
    width: 312px;
}

.form-container {
    display: none;
    width: 584px;
    height: 760px;
    position: absolute;
    top: 64px;
    left: 128px;
    background-color: #F8F8F5;
    z-index: 3;
    transition: 0.5s;
}

.form-container_visible {
    display: block;
}

.form__title {
    margin: 56px 0 40px 56px;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #262A4F;
    font-weight: 700;
    font-family: "PlayfairDisplaySC", "Georgia", serif;
}

.form-grid {
    /* outline: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 224px);
    gap: 64px 24px ;
    width: calc(100% - (56px*2));
    margin: 40px auto 128px;
}

.form__label_type_address {
    grid-column: 1 / 3;
}


.form__label {
    font-size: 18px;
    line-height: 16px;
    color: #262A4F;
    font-weight: 400;
    font-family: "RobotoSlab", "Georgia", serif;
}

.form__input {
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    padding: 0 0 2px 0;
    width: 100%;
    margin-top: 16px;
    font-weight: 400;
    font-family: "RobotoSlab", "Georgia", serif;
    font-size: 16px;
    line-height: 16px;
    background-color: #F8F8F5;
}

input::-webkit-input-placeholder { color: #D0D0CEed; }
input::-moz-placeholder { color: #D0D0CEed; }

.form__terms-of-use {
    font-weight: 400;
    font-family: "Roboto", "Georgia", serif;
    font-size: 14px;
    line-height: 17px;
    color: #5C5B5B;
    width: 476px;
    margin: 0 0 40px 56px;
}



.form-button-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - (56px*2));
    margin: 0 auto;
}

.form-button {
    width: 178px;
    height: 53px;
    border: 2px solid #262A4F;
    border-radius: 4px;
    font-weight: 400;
    font-family: "RobotoSlab", "Georgia", serif;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    background-color: #F8F8F5;
}


.form-button_type_forward {
    background-color: #262A4F;
    color: #fff;
}


.form-flex {
  display: flex;
  flex-wrap: wrap;
  width: 344px;
  margin: 0 auto 97px;
}

.form-flex__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 104px;
  margin-bottom: 48px;
  margin-top: 16px;
}

.form-flex__item:nth-of-type(even) {
  margin-right: 0;
}

.form-flex__item:nth-last-of-type(1) {
  margin-bottom: 0;
}

.form-flex__item:nth-last-of-type(2) {
  margin-bottom: 0;
}

.form-flex__image {
  width: 120px;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  margin-bottom: 8px;
}

.form-flex__caption {
  font-family: "RobotoSlab", "Georgia", serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.form__content {
  width: 472px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__textarea {
  width: 100%;
  height: 168px;
  padding: 0;
  margin: 16px 0 32px 0;
  outline: none;
  resize: none;
  border: 0;
  border-bottom: 1px solid #C4C4C4;
}

.form__paragraph {
  font-family: "Roboto", "Georgia", serif;
  font-size: 14px;
  line-height: 17px;
  color: #5C5B5B;
  margin: 0 0 186px 0;
}

.form-grid_style_confirm {
  gap: 24px 30px;
  margin-bottom: 24px;
}


.form__label_style_confirm {
  font-size: 12px;
  line-height: 12px;
  width: 221px;
  position: relative;
}

.form__input_style_confirm {
  background-color: #E8EAEE;
  border: 0;
  margin-top: 4px;
  font-size: 12px;
  height: 24px;
}

.form__edit-button {
  position: absolute;
  top: 18px;
  right: 5px;
}

.form__edit-button:hover {
  cursor: pointer;
}

.select-ministry {
  display: flex;
  margin: 0 0 24px 56px;
}

.form__textarea_style_confirm {
  height: 128px;
  margin-bottom: 28px;
  margin-top: 4px;
}

.form-confirm__subtitle {
  margin-left: 56px;
  margin-bottom: 8px;
  margin: 0 0 8px 56px;
  font-family: "RobotoSlab", "Georgia", serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.select-ministry__item {
  margin-right: 16px;
  border: 1px solid #262A4F;
  border-radius: 2px;
  background-color: #E8EAEE;
  padding: 4px 8px;

}

.form__paragraph_style_confirm {
  margin-bottom: 26px;
}

.form-container_claim {
  position: absolute;
  top: 0;
  left: 600px;
  /* display: flex;
  flex-direction: column; */
}

.claim__header {
  width: 290px;
  margin: 40px 28px 40px auto;
}

.claim__paragraph {
  font-family: "RobotoSlab", "Georgia", serif;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
  margin: 0 0 16px;
}

.claim__paragraph:last-of-type {
  margin-bottom: 0;
}

.claim__title {
  font-family: "RobotoSlab", "Georgia", serif;
  font-size: 28px;
  line-height: 30px;
  color: #212121;
  margin: 0 auto 30px;
  text-align: center;
}

.claim__text {
  font-family: "Roboto", "Georgia", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 404px;
  margin: 0 0 0 90px;
}

.claim__footer {
  width: calc(100% - (47px*2));
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  /* justify-self: flex-end; */
}

.footer-span {
font-family: "RobotoSlab", "Georgia", serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #212121;
}

.hidden {
  display: none;
}

