.popup__container {
    position: absolute;
    width: 584px;
    height: 760px;
    top: 74px;
    left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
 
    
    border: 1px solid red;
}

@media screen and (max-width: 640px) {
    .popup__container {
        width: 210px;
    }
}