@import url(__logo/header__logo.css);

.header {
    width: 551px;
    margin-top: 90px;
    margin-left: 128px;
    font-style: normal;
font-weight: bold;
font-size: 58px;
line-height: 77px;
    border: solid 1px red;
}

@media screen and (max-width: 640px) {
    .header {
     width: 320px;
     margin: 28px 0 38px;
     align-self: center;
    }
}