.content__title-send  {
    font-family: "PlayfairDisplaySC";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 110%;
    margin: 56px 58px 40px 56px;
    color: #262A4F;
}