.form__title {
    margin: 56px 0 40px 56px;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #262A4F;
    font-weight: 700;
    font-family: "PlayfairDisplaySC", "Georgia", serif;
}