.form-button {
    width: 178px;
    height: 53px;
    border: 2px solid #262A4F;
    border-radius: 4px;
    font-weight: 400;
    font-family: "RobotoSlab", "Georgia", serif;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    background-color: #F8F8F5;
}