.bg-image {
    display: inline;
    width: 1078px;
    height: 900px;
    border: 1px solid red;
    margin-left: auto;
    position: relative;
    background-image: url(../../images/background.png);
    background-size: contain;
}